form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.containerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 35vw;
    height: 80vh;
    gap: 2rem;
    border-radius: 1rem;
}

.nome{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #BBBBBB;
    gap: 0.3rem;
}

.sobrenome{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #BBBBBB;
    gap: 0.3rem;
}

.email{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #BBBBBB;
    gap: 0.3rem;
}

.telefone{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #BBBBBB;
    gap: 0.3rem;
}

.titleForm{
    font-size: 1.3rem;
    color: black;
}

.inputPattern{
    width: 24vw;
    height: 5vh;
    border-radius: 1%;
    color: black;
    background-color: white;
    border: solid 0.1rem #820AD1;
    text-align: center;
    border-radius: 1rem;
}

.inputPattern{
    border: solid 0.1rem #820AD1;
}

.btnContainer{
    display: flex;
    gap: 4rem;
}

.btnPattern{
    width: 10vw;
    height: 10vh;
    color: #820AD1;
    font-size: 1rem;
    border: solid 0.1rem #820AD1;
    border-radius: 1rem;
}

.btnPattern:hover{
    color: white;
    background-color: #820AD1;   
    cursor: pointer;
    border: solid 0.1rem #ffffff;
    border-radius: 1rem;
}
